<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Registro de Seminario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <h1>Nuevo Registro de Seminario</h1>
    <form action="{{ url_for('nuevo') }}" method="POST">
        Nombre: <input type="text" name="nombre" required><br>
        Apellidos: <input type="text" name="apellidos" required><br>
        Fecha: <input type="date" name="fecha" required><br>
        Turno:
        <select name="turno" required>
            <option value="mañana">Mañana</option>
            <option value="tarde">Tarde</option>
            <option value="noche">Noche</option>
        </select>
        <br>
        Seminario:
        <select name="seminario" required>
            {% for seminario in seminarios_disponibles %}
            <option value="{{ seminario }}">{{ seminario }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Enviar Registro">
    </form>
</body>
</html>
